build/
build-py/
.vscode/
.cache/
.clangd

bridge_control.txt
bridge_state.json
python/__pycache__/
*.exe
*.tmp
bridge_waypoints.txt
*.log
maps/
run/

# Python & AI Training
__pycache__/
train_AI/models/
train_AI/logs/
*.zip
